<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<div class="row">
  <div class="col-md-6">
    <div class="col-md-12 center">
      <h2><%= @category.name %></h2>
    </div>
  </div>
</div>
